body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 90%);
}

#timeoutBtn {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: hsl(240, 100%, 60%);
    box-shadow: 1px 1px 5px hsl(0, 0%, 30%);
}

#timeoutBtn:hover {
    background-color: hsl(240, 100%, 65%);
    box-shadow: 2px 2px 5px hsl(0, 0%, 30%);
}

#timeoutBtn:active {
    background-color: hsl(240, 100%, 62%);
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%);
}

#timerP {
    text-align: center;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    animation-name: fade;
    animation-duration: 1s;
    background-color: black;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.slider button:hover {
    background-color: hsla(0, 0%, 0%, 0.7);
}

.slider button.prev {
    left: 0;
}

.slider button.next {
    right: 0;
}

@keyframes fade {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}